In [1]:
import os
import numpy as np
import cv2
import random
import pandas as pd
import shutil

# 参数

In [2]:
base_path = '../autodl-tmp'

In [3]:
data_name = 'poli'
# data_name = 'goss'

In [4]:
few_shot = 2
# few_shot = 4
# few_shot = 8
# few_shot = 16
# few_shot = 100

In [5]:
seed = 1
# seed = 2
# seed = 3
# seed = 4
# seed = 5

# 创建文件夹

In [6]:
for shots in [2, 4, 8, 16, 100]:
    for seeds in [1, 2, 3, 4, 5]:
        for datasets in ['train', 'val', 'test']:
    
            if not os.path.exists('{0}/{1}/{2}shot/seed{3}/{4}/{5}_img'.format(base_path, data_name, shots, seeds, datasets, datasets)):
                os.makedirs('{0}/{1}/{2}shot/seed{3}/{4}/{5}_img'.format(base_path, data_name, shots, seeds, datasets, datasets))

# 按照标签将数据分为两类

In [7]:
if data_name == 'poli':
    data = pd.read_csv('{0}/politifact_multi.csv'.format(base_path))
elif data_name == 'goss':
    data = pd.read_csv('{0}/gossipcop_multi.csv'.format(base_path))
else:
    print('数据输入错误！')
    
data.drop(['idx'], inplace=True, axis=1)

print(len(data))
data.head()

198

                                          clean_text           img_id  label
0  everygame 0.0 rating get $750 in bonus funds o...  politifact15334      1
1  oops! it looks like the page you are looking f...  politifact14595      1
2  the bodybuilding community has long coveted th...  politifact13816      1
3  advertisement above  republican attacks on tra...  politifact11773      1
4  during a flight from new york city to chicago,...  politifact14005      1

In [8]:
data_0 = data[data['label']==0]
print(len(data_0))
data_0.head()

102

                                            clean_text          img_id  label
96   knox college  galesburg, illinois  12:13 p.m. ...  politifact8071      0
97   the recent massachusetts senate election capti...  politifact4275      0
98   u.s. rep. h. morgan griffith is milking his op...  politifact5237      0
99   aug 17, 2022  press release  e&c leader wrote ...  politifact1063      0
100  knox college  galesburg, illinois  12:13 p.m. ...  politifact8069      0

In [9]:
data_1 = data[data['label']==1]
print(len(data_1))
data_1.head()

96

                                          clean_text           img_id  label
0  everygame 0.0 rating get $750 in bonus funds o...  politifact15334      1
1  oops! it looks like the page you are looking f...  politifact14595      1
2  the bodybuilding community has long coveted th...  politifact13816      1
3  advertisement above  republican attacks on tra...  politifact11773      1
4  during a flight from new york city to chicago,...  politifact14005      1

# 划分 train、val 和 test

固定seed，从两类数据中分别取 few_shot/2 个数据作为 train，剩下的数据作为 val 和 test，val 数量和 train 相同

In [10]:
# few_shot = 2
'''


'''

# few_shot = 4
'''


'''

# few_shot = 8
'''


'''

# few_shot = 16
'''


'''

# few_shot = 100
'''


'''

'\n\n\n'

In [11]:
train = pd.concat([data_0.sample(n=int(few_shot/2), random_state=seed), data_1.sample(n=int(few_shot/2), random_state=seed)])
train

                                            clean_text           img_id  label
191  marco rubio portrayed fellow gop senator and p...  politifact11761      0
40       target ceo brian cornell announced today t...  politifact13775      1

In [12]:
data_left = pd.merge(data, train, how='left', indicator=True).query("_merge=='left_only'").drop('_merge', 1).sample(frac=1., random_state=seed)

print(len(data_left))
data_left.head()

196

/tmp/ipykernel_13711/3309032131.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data_left = pd.merge(data, train, how='left', indicator=True).query("_merge=='left_only'").drop('_merge', 1).sample(frac=1., random_state=seed)

                                            clean_text           img_id  label
128  in his press conference on march 11, 2011, pre...   politifact8838      0
11   the immediate former presidents have been more...  politifact15178      1
111  theres another choice  when it comes to electi...  politifact12924      0
125  april 25, 2010  -- tapper: good morning, every...   politifact1731      0
18   about trendolizer  trendolizer (patent pending...  politifact13544      1

In [13]:
val = data_left.iloc[:few_shot, :]

print(len(val))
val.head()

2

                                            clean_text           img_id  label
128  in his press conference on march 11, 2011, pre...   politifact8838      0
11   the immediate former presidents have been more...  politifact15178      1

In [14]:
test = data_left.iloc[few_shot:, :]

print(len(test))
test.head()

194

                                            clean_text           img_id  label
111  theres another choice  when it comes to electi...  politifact12924      0
125  april 25, 2010  -- tapper: good morning, every...   politifact1731      0
18   about trendolizer  trendolizer (patent pending...  politifact13544      1
166  editor's note: this is part one of the transcr...    politifact304      0
45   london (cnn) britain's queen elizabeth ii has ...  politifact15370      1

In [15]:
train.to_csv('{0}/{1}/{2}shot/seed{3}/train/train.csv'.format(base_path, data_name, few_shot, seed))
val.to_csv('{0}/{1}/{2}shot/seed{3}/val/val.csv'.format(base_path, data_name, few_shot, seed))
test.to_csv('{0}/{1}/{2}shot/seed{3}/test/test.csv'.format(base_path, data_name, few_shot, seed))

print('<--------- D O N E --------->')

<--------- D O N E --------->

# 依照划分的训练集、验证集和测试集划分出对应的 csv 文件

In [16]:
# data_csv = pd.read_csv('../autodl-tmp/politifact_multi.csv')
# # data_csv.loc[723, :]
# # 'gossipcop-832300074' in data_csv['img_id'].values

# len(img_name_ls), len(data_csv), len(data_csv) == len(img_name_train_ls) + len(img_name_dev_ls) + len(img_name_test_ls)

In [17]:
# flag = 0
# df_train_index_ls = []
# df_dev_index_ls = []
# df_test_index_ls = []

# for dataset in [img_name_train_ls, img_name_dev_ls, img_name_test_ls]:
# #     print(len(dataset))
#     flag = flag + 1 
#     for img_name in dataset:
#         img_id_str = img_name[:-4]
        
#         if img_id_str in data_csv['img_id'].values and flag == 1:
#             df_train_index = data_csv[data_csv.img_id == img_id_str].index.tolist()[0]
#             df_train_index_ls.append(df_train_index)
            
#         if img_id_str in data_csv['img_id'].values and flag == 2:
#             df_dev_index = data_csv[data_csv.img_id == img_id_str].index.tolist()[0]
#             df_dev_index_ls.append(df_dev_index)
        
#         if img_id_str in data_csv['img_id'].values and flag == 3:
#             df_test_index = data_csv[data_csv.img_id == img_id_str].index.tolist()[0]  
#             df_test_index_ls.append(df_test_index)

# df_train = data_csv.loc[df_train_index_ls, :]
# df_dev = data_csv.loc[df_dev_index_ls, :]
# df_test = data_csv.loc[df_test_index_ls, :]

# df_train.to_csv('../autodl-tmp/poli_csv/poli_train.csv')
# df_dev.to_csv('../autodl-tmp/poli_csv/poli_dev.csv')
# df_test.to_csv('../autodl-tmp/poli_csv/poli_test.csv')

# print(' <----------- DONE -----------> ')

# len(df_train), len(df_dev), len(df_test)
# # df_train.head()

# 将图片按照种类分开

In [19]:
train_image_id_list = list(np.asarray(train['img_id']))
val_image_id_list = list(np.asarray(val['img_id']))
test_image_id_list = list(np.asarray(test['img_id']))
# print(train_image_id_list)

print('train_len: ', len(train_image_id_list))
print('dev_len: ', len(val_image_id_list))
print('test_len: ', len(test_image_id_list))

image_ls = os.listdir(base_path + '/' + '{0}_img_all'.format(data_name))

for image in image_ls:
    image_id = image.replace('.jpg', '')
    
    try:
        if image_id in train_image_id_list:
            shutil.copy(base_path + '/' + '{0}_img_all'.format(data_name) + '/' + image,
                        '{0}/{1}/{2}shot/seed{3}/train/train_img'.format(base_path, data_name, few_shot, seed))
#             print('in trian!')

        elif image_id in val_image_id_list:
            shutil.copy(base_path + '/' + '{0}_img_all'.format(data_name) + '/' + image,
                        '{0}/{1}/{2}shot/seed{3}/val/val_img'.format(base_path, data_name, few_shot, seed))
            
#             print('in val!')
            
        elif image_id in test_image_id_list:
            shutil.copy(base_path + '/' + '{0}_img_all'.format(data_name) + '/' + image,
                        '{0}/{1}/{2}shot/seed{3}/test/test_img'.format(base_path, data_name, few_shot, seed))
        
#             print('in test!')

    
    except:
        
        print('Wrong: ', image)
        

print(' <----------- DONE -----------> ')

train_len:  2
dev_len:  2
test_len:  194
 <----------- DONE ----------->

# 图片保存为 npy，调整大小为 （224， 224）

In [24]:
def save_npy(img_path, out_npy_path, type_npy):

    img_ls = os.listdir(img_path)
    
    npy_ls = []
    flag = 0

    for img_id in img_ls:
        img = cv2.imread(img_path + '/' + img_id)
        try:
            b, g , r = cv2.split(img)  # 分割出三个通道
            img = cv2.merge([r, g ,b])
            img=cv2.resize(img, (224,224), interpolation=cv2.INTER_CUBIC)
            npy_ls.append(img)

        except:
    #         os.remove(img_path + img_name)
            flag  = flag + 1

    img_npy = np.array(npy_ls)
    np.save(out_npy_path + '/' + type_npy + '.npy', img_npy)
    print(flag)
    print(' <-------- ', type_npy, 'DONE -------->')

In [25]:
train_img_path = '{0}/{1}/{2}shot/seed{3}/train/train_img'.format(base_path, data_name, few_shot, seed)
val_img_path = '{0}/{1}/{2}shot/seed{3}/val/val_img'.format(base_path, data_name, few_shot, seed)
test_img_path = '{0}/{1}/{2}shot/seed{3}/test/test_img'.format(base_path, data_name, few_shot, seed)

train_out_npy_path = '{0}/{1}/{2}shot/seed{3}/train'.format(base_path, data_name, few_shot, seed)
val_out_npy_path = '{0}/{1}/{2}shot/seed{3}/val'.format(base_path, data_name, few_shot, seed)
test_out_npy_path = '{0}/{1}/{2}shot/seed{3}/test'.format(base_path, data_name, few_shot, seed)
 
save_npy(train_img_path, train_out_npy_path, 'train_img')
save_npy(val_img_path, val_out_npy_path, 'val_img')
save_npy(test_img_path, test_out_npy_path, 'test_img')

0
 <--------  train_img DONE -------->
0
 <--------  val_img DONE -------->
0
 <--------  test_img DONE -------->

# 读取 npy 测试一下

In [27]:
train_img_npy = np.load(train_out_npy_path + '/train_img.npy')
val_img_npy = np.load(val_out_npy_path + '/val_img.npy')
test_img_npy = np.load(test_out_npy_path + '/test_img.npy')

train_img_npy.shape, val_img_npy.shape, test_img_npy.shape

((2, 224, 224, 3), (2, 224, 224, 3), (194, 224, 224, 3))